<form action="{{ path('ecommerce_produits_recherchetraitement') }}" method="post" class="navbar-search pull-left" style="margin-left: 60px">
    {{ form_widget(form.recherche, {'attr':{'placeholder': 'Recherche'}}) }}
    {{ form_widget(form) }}
</form>