{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="span4">
        {% include '::modules/userconnecte.html.twig' %}
    </div>

    <div class="span8">
        <div class="well">
            <h3>Mes informations</h3>
            <br/>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="shopBtn exclusive" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
