{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="well">
            <p>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
            <a class="shopBtn" href="{{ path('fos_user_resetting_request') }}">Retour </a>
        </div>
    </div>
{% endblock %}
