{% extends 'adminBase.html.twig' %}

{% block body %}
    <div class="box-header with-border">
        <h1 class="box-title">Produit creation</h1>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form, {'method' : 'POST'}) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-success col-md-4 col-md-offset-4" type="submit" value="Créer un nouveau produit" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="box-footer">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="{{ path('produit_index') }}">Retour a la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
